<div
  class="icon_text_wrap"
  {{ block.shopify_attributes }}
  style="--pt: {{ block.settings.pt }}px; --pb: {{ block.settings.pb }}px;"
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Icon Text",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "pt",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Icon Text"
    }
  ]
}
{% endschema %}
