<div class="icon_text_wrap" {{ block.shopify_attributes }}>
  <div class="custom-hero-full">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Icon Text",
  "tag": null,
  "settings": [],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Icon Text"
    }
  ]
}
{% endschema %}
