{{ 'custom-slider.css' | asset_url | stylesheet_tag }}

<div class="custom_slider_wrapper">
  <div
    class="splide {% if section.blocks.size <= 1 %}is-visible{% endif %}"
    {% if section.blocks.size > 1 %}
      id="splide-{{ section.id }}"
    {% else %}
      id="splide-{{ section.id }}"
    {% endif %}
  >
    <div class="splide__track">
      <ul class="splide__list">
        {% content_for 'blocks' %}
      </ul>
    </div>

    {% if section.settings.show_pagination %}
      <ul class="splide__pagination splide-pagination-{{ section.id }}"></ul>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Slide Image",
  "settings": [],
  "blocks": [
    {
      "type": "slider-image"
    }
  ],
  "presets": [
    {
      "name": "Slide Image"
    }
  ]
}
{% endschema %}
