<div class="page-width hero-slider-animation has-caption-wrapper">
  <div class="hero-slider__container">
    <div class="hero-slider__content--wrapper">
      <div class="hero-slider__content">
        <div class="hero-slider__heading">
          <h2 class="heading">The party of your dreams, delivered directly to you</h2>
        </div>
        <div class="hero-slider__subheading-wrapper">
          <div class="hero-slider__subheading hero-slider__subheading--riyadh">
            <ul>
              <li>100+ carefully curated themes</li>
              <li>Have an idea? Create your own theme</li>
              <li>Delivered ready - no setup needed</li>
            </ul>
          </div>
        </div>
        <div class="hero-slider__action">
          <a href="/pages/party-themes" class="button button--primary text-uppercase">Explore Party Themes</a>
        </div>
      </div>
    </div>
    <div class="hero-slider__slider">
      <span class="hero-slider__bg-asset asset-1 x"
        ><img
          src="//mytwinkle.com/cdn/shop/files/slider-balloon.png?v=1747883693&amp;width=504"
          alt="The party of your dreams, delivered directly to you - balloon"
          srcset="//mytwinkle.com/cdn/shop/files/slider-balloon.png?v=1747883693&amp;width=124 124w, //mytwinkle.com/cdn/shop/files/slider-balloon.png?v=1747883693&amp;width=186 186w, //mytwinkle.com/cdn/shop/files/slider-balloon.png?v=1747883693&amp;width=272 272w, //mytwinkle.com/cdn/shop/files/slider-balloon.png?v=1747883693&amp;width=504 504w"
          width="504"
          height="504"
          loading="eager"
          sizes="(min-width: 768px) 272px, 15vw"
        > </span
      ><span class="hero-slider__bg-asset asset-2 x2"
        ><img
          src="//mytwinkle.com/cdn/shop/files/balloon-1.png?v=1747883699&amp;width=1140"
          alt="The party of your dreams, delivered directly to you - balloon"
          srcset="//mytwinkle.com/cdn/shop/files/balloon-1.png?v=1747883699&amp;width=312 312w, //mytwinkle.com/cdn/shop/files/balloon-1.png?v=1747883699&amp;width=468 468w, //mytwinkle.com/cdn/shop/files/balloon-1.png?v=1747883699&amp;width=590 590w, //mytwinkle.com/cdn/shop/files/balloon-1.png?v=1747883699&amp;width=1140 1140w"
          width="1140"
          height="1140"
          loading="eager"
          sizes="(min-width: 768px) 590px, 30vw"
        > </span
      ><span class="hero-slider__bg-asset asset-3"
        ><img
          src="//mytwinkle.com/cdn/shop/files/balloon-2.png?v=1747883688&amp;width=304"
          alt="The party of your dreams, delivered directly to you - balloon"
          srcset="//mytwinkle.com/cdn/shop/files/balloon-2.png?v=1747883688&amp;width=88 88w, //mytwinkle.com/cdn/shop/files/balloon-2.png?v=1747883688&amp;width=132 132w, //mytwinkle.com/cdn/shop/files/balloon-2.png?v=1747883688&amp;width=152 152w, //mytwinkle.com/cdn/shop/files/balloon-2.png?v=1747883688&amp;width=304 304w"
          width="304"
          height="304"
          loading="eager"
          sizes="(min-width: 768px) 152px, 10vw"
        >
      </span>
      <div
        class="swiper swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
        data-autoplay="true"
        data-autoplay-speed="4000"
      >
        <div
          class="swiper-wrapper"
          id="swiper-wrapper-386c2ee946c32b44"
          aria-live="off"
          style="transition-duration: 0ms;"
        >
          <div
            class="swiper-slide"
            role="group"
            aria-label="1 / 4"
            style="width: 710px; opacity: 0; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"
          >
            <div class="slide-content ">
              <div class="slide-image">
                <div class="image-wrapper" style="padding-top: 100.0%">
                  <img
                    src="//mytwinkle.com/cdn/shop/files/HAPPY_EID_WOW_PG_BIG.png?v=1750676380&amp;width=2130"
                    alt="The party of your dreams, delivered directly to you"
                    srcset="//mytwinkle.com/cdn/shop/files/HAPPY_EID_WOW_PG_BIG.png?v=1750676380&amp;width=360 360w, //mytwinkle.com/cdn/shop/files/HAPPY_EID_WOW_PG_BIG.png?v=1750676380&amp;width=480 480w, //mytwinkle.com/cdn/shop/files/HAPPY_EID_WOW_PG_BIG.png?v=1750676380&amp;width=720 720w, //mytwinkle.com/cdn/shop/files/HAPPY_EID_WOW_PG_BIG.png?v=1750676380&amp;width=1080 1080w, //mytwinkle.com/cdn/shop/files/HAPPY_EID_WOW_PG_BIG.png?v=1750676380&amp;width=1360 1360w, //mytwinkle.com/cdn/shop/files/HAPPY_EID_WOW_PG_BIG.png?v=1750676380&amp;width=2130 2130w"
                    width="2130"
                    height="2130"
                    loading="eager"
                    sizes="(min-width: 768px) 680px, 40vw"
                    fetchpriority="high"
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide swiper-slide-prev"
            role="group"
            aria-label="2 / 4"
            style="width: 710px; opacity: 0; transform: translate3d(-710px, 0px, 0px); transition-duration: 0ms;"
          >
            <div class="slide-content ">
              <div class="slide-image">
                <div class="image-wrapper" style="padding-top: 100.0%">
                  <img
                    src="//mytwinkle.com/cdn/shop/files/hero_image_star_1_1600.png?v=1773950248&amp;width=1600"
                    alt="The party of your dreams, delivered directly to you"
                    srcset="//mytwinkle.com/cdn/shop/files/hero_image_star_1_1600.png?v=1773950248&amp;width=360 360w, //mytwinkle.com/cdn/shop/files/hero_image_star_1_1600.png?v=1773950248&amp;width=480 480w, //mytwinkle.com/cdn/shop/files/hero_image_star_1_1600.png?v=1773950248&amp;width=720 720w, //mytwinkle.com/cdn/shop/files/hero_image_star_1_1600.png?v=1773950248&amp;width=1080 1080w, //mytwinkle.com/cdn/shop/files/hero_image_star_1_1600.png?v=1773950248&amp;width=1360 1360w, //mytwinkle.com/cdn/shop/files/hero_image_star_1_1600.png?v=1773950248&amp;width=1600 1600w"
                    width="1600"
                    height="1600"
                    loading="eager"
                    sizes="(min-width: 768px) 680px, 40vw"
                    fetchpriority="low"
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide swiper-slide-visible swiper-slide-active"
            role="group"
            aria-label="3 / 4"
            style="width: 710px; opacity: 1; transform: translate3d(-1420px, 0px, 0px); transition-duration: 0ms;"
          >
            <div class="slide-content ">
              <div class="slide-image">
                <div class="image-wrapper" style="padding-top: 100.0%">
                  <img
                    src="//mytwinkle.com/cdn/shop/files/hero_image_star_2_1600.png?v=1773950249&amp;width=1600"
                    alt="The party of your dreams, delivered directly to you"
                    srcset="//mytwinkle.com/cdn/shop/files/hero_image_star_2_1600.png?v=1773950249&amp;width=360 360w, //mytwinkle.com/cdn/shop/files/hero_image_star_2_1600.png?v=1773950249&amp;width=480 480w, //mytwinkle.com/cdn/shop/files/hero_image_star_2_1600.png?v=1773950249&amp;width=720 720w, //mytwinkle.com/cdn/shop/files/hero_image_star_2_1600.png?v=1773950249&amp;width=1080 1080w, //mytwinkle.com/cdn/shop/files/hero_image_star_2_1600.png?v=1773950249&amp;width=1360 1360w, //mytwinkle.com/cdn/shop/files/hero_image_star_2_1600.png?v=1773950249&amp;width=1600 1600w"
                    width="1600"
                    height="1600"
                    loading="eager"
                    sizes="(min-width: 768px) 680px, 40vw"
                    fetchpriority="low"
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide swiper-slide-next"
            role="group"
            aria-label="4 / 4"
            style="width: 710px; opacity: 0; transform: translate3d(-2130px, 0px, 0px); transition-duration: 0ms;"
          >
            <div class="slide-content ">
              <div class="slide-image">
                <div class="image-wrapper" style="padding-top: 100.0%">
                  <img
                    src="//mytwinkle.com/cdn/shop/files/hero_image_star_3_1600.png?v=1773950248&amp;width=1600"
                    alt="The party of your dreams, delivered directly to you"
                    srcset="//mytwinkle.com/cdn/shop/files/hero_image_star_3_1600.png?v=1773950248&amp;width=360 360w, //mytwinkle.com/cdn/shop/files/hero_image_star_3_1600.png?v=1773950248&amp;width=480 480w, //mytwinkle.com/cdn/shop/files/hero_image_star_3_1600.png?v=1773950248&amp;width=720 720w, //mytwinkle.com/cdn/shop/files/hero_image_star_3_1600.png?v=1773950248&amp;width=1080 1080w, //mytwinkle.com/cdn/shop/files/hero_image_star_3_1600.png?v=1773950248&amp;width=1360 1360w, //mytwinkle.com/cdn/shop/files/hero_image_star_3_1600.png?v=1773950248&amp;width=1600 1600w"
                    width="1600"
                    height="1600"
                    loading="eager"
                    sizes="(min-width: 768px) 680px, 40vw"
                    fetchpriority="low"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination slide-blocks-no-inner-text swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
          <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span
          ><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span
          ><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active"
            tabindex="0"
            role="button"
            aria-label="Go to slide 3"
            aria-current="true"
          ></span
          ><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>
    </div>
  </div>
</div>
