.custom_slider_div {
    width: fit-content;
}

.slider__inner_content {
    position: relative;
}

.image_float_wrap {
    position: absolute;
    width: 228px;
    height: auto;
    object-fit: contain;
}

.image_float_wrap.float_left {
    z-index: 2;
}

.image_float_wrap.float_right {
    z-index: 2;
}

.image_float_wrap.float_middle {
    z-index: -1;
}