.icon_text_section {
    position: relative;
}

.icon_text_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--pt) 0 var(--pb) 0;
}

.icon_text_container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: var(--top);
}

.icon_text_wrap {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}